.il-mainbar {
    background-color: @accent-primary;
}
.il-mainbar-triggers .btn-bulky,
.il-mainbar-triggers .il-link.link-bulky {
    background: @accent-primary;
}

/*-------------------- T O O L S --------------------*/
.il-mainbar-tools-button .btn-bulky.engaged {
    background-color: #d2dae5;
}
