.startup_page {
    min-height: 100%;
    top: 93px;
    position: fixed;
    width: 100%;
    margin: 0 0 0 -15px;
    padding: 35px 0 0 0;
    background: no-repeat url(../../skin/SkinID_ILIAS-6_SWR/images/startup_screen/startup_bg.jpg);
    background-size: cover;
}
@media only screen and (max-width: 767px) {
    .startup_page {
        margin: -35px 0 0 -15px;
        padding: 35px 15px 0 15px;
    }
}
.ilStartupSection {
    text-align: center;
    padding: 0px;
    .form-horizontal {
        margin-bottom: 10px;
    }
    form.form-horizontal {
        margin-left: auto;
        margin-right: auto;
        padding-top: 45px;
        background-color: transparent;
    }
    .ilFormHeader {
        background-color: #f3b131;
        padding: 30px 15px 10px;
    }
    .ilFormHeader h2.ilHeader {
        color: white;
    }
    .form-group {
        background-color: #F9d898;
    }
    .form-horizontal .control-label {
        text-align: left;
    }
    input:invalid {
        background-color: white;
        border-color: #f3b131;
    }
    .ilFormFooter {
        background-color: #F9d898;
        padding: 15px 10px 15px 0px;
    }
    .ilFormCmds {
        .btn-default {
            background-color: #f3b131;
        }
        .btn-default:hover {
            background-color: darken#f3b131,15%);
        }
        .btn-default:active,
        .btn-default.active,
        .open > .dropdown-toggle.btn-default {
         background-color: darken(#f3b131,15%);
         }
    }
    .LogoutInfo {
        background-color: #F9d898;
        width: max-content;
        padding: 30px 15px;
        margin-top: 45px;
        margin-left: auto;
        margin-right: auto;
    }
    .LogoutInfo > p {
        display: inline-block;
        margin-right: 30px;
    }
    .LogoutInfo {
        .btn-default {
            background-color: #f3b131;
        }
        .btn-default:hover {
            background-color: darken(#f3b131,15%);
        }
        .btn-default:active,
        .btn-default.active,
        .open > .dropdown-toggle.btn-default {
         background-color: darken(#f3b131,15%);
         }
    }
}
p.ilStartupSection {
    background-color: #F9d898;
    width: 40em;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 767px) {
    p.ilStartupSection {
        width: auto;
    }
}